<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesi칩n</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="/css/boostra.css">
</head>
<body>
    <div class="col-md-4 offset-md-3">
        <div class="thead-dark">
            <div class="card-header">
                <h1>Iniciar Sesi칩n</h1>
            </div>
            <div class="card-footer">
                <form action="/new-contact" method="POST">
                    <div class="form-group">
                        <input type="email" id="email" name="email" placeholder="Correo electr칩nico" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Contrase침a" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-dark btn-block">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>